.login-form {
   display: flex;
   flex-direction: column;
   width: 250px;
   justify-content: center;
   align-items: center;
   margin: 10% auto 0 auto;
   padding: 40px;
   gap: 30px;
   border: 1px solid rgb(223, 223, 223);
   border-radius: 8px;
   background-color: white;
}

.login-button {
    width: 250px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.login-textfield {
    width: 250px;
}

.login-title {
    color: #0050C3;
}